dashboard/.flows.json.backup
[
    {
        "id": "cec19c4c748a11a1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8dd57704d2cfda4b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d415187bedaf7f44",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5eb68f61509fda4",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "d415187bedaf7f44",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6661bb1c30d4b4fe",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "2d49283f613ebf66",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "5f4357203ea6b561",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 5,
        "width": 24,
        "height": 1
    },
    {
        "id": "212c5808c208280c",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 6,
        "width": 24,
        "height": 1
    },
    {
        "id": "70c72076f83a149a",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 7,
        "width": 24,
        "height": 1
    },
    {
        "id": "fcbbeae486f545ea",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "ad429bae0d52a6db",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "49669ed9180a2f8b",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "12f8ca3a90728393",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "113e3193cac3698b",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "97fa0a9c232ceb2b",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a4037d89458a7d4",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "bbed49b186755fd1",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e50f57129a304c6",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "4f2b96b0ac0a7885",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5240f64c2dbdff9",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "fb89e67550770273",
        "type": "ui_spacer",
        "z": "cec19c4c748a11a1",
        "name": "spacer",
        "group": "f5eb68f61509fda4",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "85f1421b19482af3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c89cd02f28a7750b",
        "type": "mqtt in",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "cf1ce55eec954128"
            ]
        ]
    },
    {
        "id": "53616ac2cd64c0ae",
        "type": "mqtt out",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Actuator_LEDEMERGENCY",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dd57704d2cfda4b",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "1b91c4b543f7b590",
        "type": "ui_switch",
        "z": "cec19c4c748a11a1",
        "name": "",
        "label": "Emergency LED",
        "tooltip": "",
        "group": "f5eb68f61509fda4",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "53616ac2cd64c0ae"
            ]
        ]
    },
    {
        "id": "8d0fe16b1e1b54cb",
        "type": "mqtt in",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_TemperatureFahrenheit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "8f0187bcf31c8d2c"
            ]
        ]
    },
    {
        "id": "26ac28157d1187c3",
        "type": "mqtt in",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_Turbidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 640,
        "wires": [
            [
                "232290073b8d03a2"
            ]
        ]
    },
    {
        "id": "cf1ce55eec954128",
        "type": "ui_gauge",
        "z": "cec19c4c748a11a1",
        "name": "",
        "group": "f5eb68f61509fda4",
        "order": 10,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature (Celsius):",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "8f0187bcf31c8d2c",
        "type": "ui_gauge",
        "z": "cec19c4c748a11a1",
        "name": "",
        "group": "f5eb68f61509fda4",
        "order": 8,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature (Fahrenheit)",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "212",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "9f766cacede8d7b2",
        "type": "ui_text",
        "z": "cec19c4c748a11a1",
        "group": "f5eb68f61509fda4",
        "order": 2,
        "width": "8",
        "height": "1",
        "name": "header",
        "label": "Water Quality Monitor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "35",
        "color": "#292a38",
        "x": 180,
        "y": 320,
        "wires": []
    },
    {
        "id": "232290073b8d03a2",
        "type": "ui_gauge",
        "z": "cec19c4c748a11a1",
        "name": "",
        "group": "f5eb68f61509fda4",
        "order": 12,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Turbidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 640,
        "wires": []
    }
]