dashboard/flows.json
[
    {
        "id": "cec19c4c748a11a1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c89cd02f28a7750b",
        "type": "mqtt in",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 440,
        "wires": [
            [
                "7595e3178f96bb83"
            ]
        ]
    },
    {
        "id": "7595e3178f96bb83",
        "type": "ui_text",
        "z": "cec19c4c748a11a1",
        "group": "f5eb68f61509fda4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "53616ac2cd64c0ae",
        "type": "mqtt out",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Actuator_LEDEMERGENCY",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dd57704d2cfda4b",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "1b91c4b543f7b590",
        "type": "ui_switch",
        "z": "cec19c4c748a11a1",
        "name": "",
        "label": "Emergency LED",
        "tooltip": "",
        "group": "f5eb68f61509fda4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "53616ac2cd64c0ae"
            ]
        ]
    },
    {
        "id": "8d0fe16b1e1b54cb",
        "type": "mqtt in",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_TemperatureFahrenheit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "b8cf2a23707dcb01"
            ]
        ]
    },
    {
        "id": "b8cf2a23707dcb01",
        "type": "ui_text",
        "z": "cec19c4c748a11a1",
        "group": "f5eb68f61509fda4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "26ac28157d1187c3",
        "type": "mqtt in",
        "z": "cec19c4c748a11a1",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_Turbidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 580,
        "wires": [
            [
                "fb9b63836bf8d4c4"
            ]
        ]
    },
    {
        "id": "fb9b63836bf8d4c4",
        "type": "ui_text",
        "z": "cec19c4c748a11a1",
        "group": "f5eb68f61509fda4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Turbidity:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "8dd57704d2cfda4b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5eb68f61509fda4",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "d415187bedaf7f44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d415187bedaf7f44",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
