dashboard/flows1.json
[
    {
        "id": "a4687eebbb702c19",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a31b5d726fd4b2e5",
        "type": "mqtt out",
        "z": "a4687eebbb702c19",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Actuator_LEDGREEN",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dd57704d2cfda4b",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "06534eb672e02fa0",
        "type": "ui_switch",
        "z": "a4687eebbb702c19",
        "name": "",
        "label": "Water Quality Good",
        "tooltip": "",
        "group": "f3ea5752dd7050c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a31b5d726fd4b2e5"
            ]
        ]
    },
    {
        "id": "3bed20615289c6ed",
        "type": "mqtt in",
        "z": "a4687eebbb702c19",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "72c60692678c0ae8"
            ]
        ]
    },
    {
        "id": "72c60692678c0ae8",
        "type": "ui_text",
        "z": "a4687eebbb702c19",
        "group": "f3ea5752dd7050c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "e17a05966032b423",
        "type": "mqtt out",
        "z": "a4687eebbb702c19",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Actuator_LEDRED",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dd57704d2cfda4b",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "b9ae9ac2acd63288",
        "type": "ui_switch",
        "z": "a4687eebbb702c19",
        "name": "",
        "label": "Water Quality Bad",
        "tooltip": "",
        "group": "f3ea5752dd7050c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "e17a05966032b423"
            ]
        ]
    },
    {
        "id": "0a7c61a6f8d0f50c",
        "type": "mqtt in",
        "z": "a4687eebbb702c19",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Sensor_Turbidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dd57704d2cfda4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "ee75b50d6c1cb44a"
            ]
        ]
    },
    {
        "id": "ee75b50d6c1cb44a",
        "type": "ui_text",
        "z": "a4687eebbb702c19",
        "group": "f3ea5752dd7050c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Turbidity:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "0b82260781e35377",
        "type": "mqtt out",
        "z": "a4687eebbb702c19",
        "name": "",
        "topic": "device/UoP_CO_326_E18_3_Actuator_LEDEMERGENCY",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dd57704d2cfda4b",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "55404257350ec0b2",
        "type": "ui_switch",
        "z": "a4687eebbb702c19",
        "name": "",
        "label": "Built In LED",
        "tooltip": "",
        "group": "f3ea5752dd7050c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "0b82260781e35377"
            ]
        ]
    },
    {
        "id": "8dd57704d2cfda4b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f3ea5752dd7050c8",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "d415187bedaf7f44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d415187bedaf7f44",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]